<section class="section">
  <h2>Acerca de mí</h2>
  <div class="divider"></div>
  <div class="row one">
    <div class="col-6">
      <p>
        Soy Freddy Contreras, desarrollador Frontend Web. Soy venezolano con
        experencia en desarrollo de aplicaciones Web. Conocimientos en el lenguaje Javascript aplicados con los Frameworks
        Angular y React.
      </p>
    </div>
    <div class="col-6 one">
      <ul class="w-100">
        <li class="d-flex justify-content-between w-100">
          <span>Edad</span> <span>28</span>
        </li>
        <li class="d-flex justify-content-between w-100">
          <span>Residencia</span> <span>Lima, Perú</span>
        </li>
        <li class="d-flex justify-content-between w-100">
          <span>Freelance</span> <span>Disponible</span>
        </li>
        <li class="d-flex justify-content-between w-100">
          <span>Activo</span> <span>Desde 2014</span>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="section ">
  <h2>Conocimientos</h2>
  <div class="divider"></div>
  <div class="row pt-3">
    <div class="col-6 mb-5">
      <div class="d-flex align-items-baseline">
        <fa-icon [icon]="['fab', 'js']" size="3x"></fa-icon>
        <h4 class="ml-2">Javascript</h4>
      </div>
      <p class="m-0">Codificación del código haciendo uso de EMACS6, buscando soluciones.</p>
    </div>
    <div class="col-6 mb-5">
      <div class="d-flex align-items-baseline">
        <fa-icon [icon]="['fab', 'angular']" size="3x"></fa-icon>
        <h4 class="ml-2">Angular</h4>
      </div>
      <p class="m-0">Conocimiento avanzado. Aplicando apartados modules, routing, components, services, Rxjs, NgRx, etc.</p>
    </div>
    <div class="col-6 mb-5">
      <div class="d-flex align-items-baseline">
        <fa-icon [icon]="['fab', 'react']" size="3x"></fa-icon>
        <h4 class="ml-2">React</h4>
      </div>
      <p class="m-0">asdaskajdkasjkl</p>
    </div>

    <div class="col-6 mb-5">
      <div class="d-flex align-items-baseline">
        <fa-icon [icon]="['fab', 'html5']" size="3x"></fa-icon>
        <h4 class="ml-2">React</h4>
      </div>
      <p class="m-0">asdaskajdkasjkl</p>
    </div>
    
   
  </div>
 
</section>
