// /* ===========================
//   VARIABLES
// =========================== */
// // Colors
$primary-color: #23508f;
$secondary-color: #88a8b8;
$gray-color: #646464;

// Breakpoints media-queries
$breakpoint-xs: 320px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

// // Fonts
$font-light: "Poppins-Light", sans-serif;
$font-regular: "Roboto", sans-serif;
$font-semibold: "Poppins-SemiBold", sans-serif;

// Font size
$html-font-size-xl: 18px;
$html-font-size-lg: 16px;
$html-font-size-md: 12px;
$html-font-size-sm: 10px;
$html-font-size-xs: 10px;
